<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consultar Ferramenta</title>
  </head>
  <body>
    <h1>Detalhes da Ferramenta</h1>

    <p>Tipo: {{ ferramenta.tipo }}</p>
    <p>Fabricante: {{ ferramenta.fabricante }}</p>
    <p>Data Aquisição: {{ ferramenta.data_aquisicao }}</p>
    <p>Data Última Calibração: {{ ferramenta.data_ultima_calibracao }}</p>
    <p>Data Próxima Calibração: {{ ferramenta.data_proxima_calibracao }}</p>
    <p>Garantia: {{ ferramenta.garantia }}</p>

    <a href="{{ url_for('index') }}">Voltar</a>
  </body>
</html>
