<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ferramentas</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Ferramentas</h1>

    <form method="POST" action="/add_tool">
      <label for="tipo">Tipo:</label>
      <input type="text" name="tipo" required /><br />

      <label for="fabricante">Fabricante:</label>
      <input type="text" name="fabricante" required /><br />

      <label for="data_aquisicao">Data Aquisição:</label>
      <input type="date" name="data_aquisicao" required /><br />

      <label for="data_ultima_calibracao">Data Última Calibração:</label>
      <input type="date" name="data_ultima_calibracao" required /><br />

      <label for="data_proxima_calibracao">Data Próxima Calibração:</label>
      <input type="date" name="data_proxima_calibracao" required /><br />

      <label for="garantia">Garantia:</label>
      <input type="text" name="garantia" required /><br />

      <button type="submit">Adicionar Ferramenta</button>
    </form>

    <ul>
      {% for ferramenta in ferramentas %}
      <li>
        {{ ferramenta.tipo }} - {{ ferramenta.fabricante }} - {{
        ferramenta.garantia }}
        <a href="{{ url_for('consult_tool', id=ferramenta.id) }}">Consultar</a>
        <a href="{{ url_for('delete_tool', id=ferramenta.id) }}">Excluir</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
